    * {
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background: #131313;
    }
    
    span {
        -webkit-text-fill-color: #131313;
        -webkit-text-stroke: #fff 0.15svh;
    }
    
    .center-screen {
        height: 85svh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 4px;
        gap: 1svh;
    }
    
    body h2 {
        background-color: #131313;
        font-size: 10svh;
        font-weight: 300;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: #fff 0.1svh;
        background-clip: text;
    }
    
    .countdown {
        padding-top: 2svh;
        font-weight: 50;
        word-spacing: 1svh;
        font-size: 5svh;
    }
    
    div {
        font-family: "Jaro", sans-serif;
        overflow: auto;
        font-size: 170%;
        font-weight: 300;
        background: #fff;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    button {
        font-family: "Jaro", sans-serif;
        background-color: transparent;
        -webkit-text-fill-color: #fff;
        border-radius: 7px;
        border: 0.7svh solid #fff;
        padding: 10px 20px;
        text-align: center;
        font-size: 4svh;
        cursor: pointer;
    }
    
    button:hover {
        transition: all 0.5s ease;
        background-color: aliceblue;
        -webkit-text-fill-color: #0c0c0c;
    }
    
    .music-button {
        padding-top: 3svh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 4px;
    }
    
    footer {
        background-color: #0c0c0c;
        border-top-left-radius: 5svh;
        border-top-right-radius: 5svh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-left: 4px;
        gap: 10svh;
    }
    
    .column {
        font-family: "Oswald", sans-serif;
        text-align: center;
    }
    
    .container {
        display: flex;
        align-content: center;
        align-items: center;
        padding-left: 7svh;
        padding-right: 7svh;
        padding-bottom: 1svh;
        gap: 10svh;
        font-size: 100%;
    }
    
    .container img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    
    .socials {
        display: flex;
        font-size: 150%;
        gap: 3svh;
        text-align: center;
    }